/*
Global
 */

.four { 
    width: 32.26%; 
    max-width: 32.26%;
}

.radio_item1 {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
  width: 18vh;
  height: 30px;
  text-align: center;
}

.radio_item2 {
  display: block; 
  margin: 1% 0 1% 1.6%;
  width: 100%;
  height: 30px;
  text-align: left;
}

.radio_item1:first-of-type { margin-left: 0; 
}

input[type=radio] {
    display: none;
}

.form label{
    position: relative;
    color: #000;
    background-color: #f0f0f0;
    font-size: 16px;
    font-weight: 200;
    /*height: 150px;
    line-height: 150px;*/
    display: block;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input:checked + label{
    background-image: linear-gradient(to right, #B495C1 , #8AB5E1);
    color: #fff;
}

/*--------*/


h5 {
    color: #fff;
    font-weight: 300;
}

input {
    background-color: #f0f0f0;
    border: 0;
    padding: 5px;
}

select {
    background-color: #f0f0f0;
    border: 0;
    padding: 10px;
    height: 30px;
}

.field-filled{
    background-image: linear-gradient(to right, #B495C1 , #8AB5E1);
    color: #fff;
}

section.banner_form {
    background: url("../images/bg-header2.jpeg") no-repeat center center fixed;
    background-size: cover;
    position: relative;
    min-height: 500px;
}

.detail1 {
    font-weight: 300;
}

.sec_1{
    height: 50%;
}

.sec_3{
    background-color: #e6e6e6;
}

.text_sec_1{
    font-weight: 200;
}

.sec_1a_text{
    font-size: 14px;
}





html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin-bottom: 50px;
}

a.custom-btn, button.custom-btn {
    background-image: linear-gradient(to right, #B495C1 , #8AB5E1);
    color: #fff;
    border: none;
    padding: 5px 20px;
    font-size: 15px;
    font-weight: 200;
}

.expert-callout {
    position: fixed;
    bottom: 0;
    background: #fff;
    width: 100%;
    height:110px;
}

.expert-callout .custom-bg {
    background: #f0f0f0;
    min-height: 110px;
}

.expert-callout h4 {
    font-weight: 200;
}

@media (min-width: 768px) {
    html, body {
        margin-bottom: 0;
    }
}

.navbar {
    background: #fff;
}

.navbar-brand img {
    width: 100%;
}

.nav-link {
    font-weight: 200;
    font-size: 0.8em;
}

.modal-fullscreen-menu .close {
    color: white;
    opacity: 1;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    font-size: 5vh;
}
.modal-fullscreen-menu .modal-dialog {
    margin: 0 auto;
    width: 100%;
    max-width: 768px;
    display: flex;
    height: 100%;
    align-items: center;
    background: rgba(255,255,255,0.8);
}
.modal-fullscreen-menu .modal-content {
    background-color: transparent;
    box-shadow: none;
    border: none;
}
.modal-fullscreen-menu .list-group {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}
.modal-fullscreen-menu .list-group a {
    font-weight: 200;
    letter-spacing: 0.05em;
    border: none;
    transition: all 0.25s ease;
    background-color: transparent;
    color: #000000;
    padding: 7.5vh 0;
    height: 5vh;
    font-size: 5vh;
    line-height: 0;
}
.modal-fullscreen-menu .list-group a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: -1;
    opacity: 0;
    transform: scale3d(0.7, 1, 1);
    transition: transform 0.4s, opacity 0.4s;
}
.modal-fullscreen-menu .list-group a:hover {
    color: black;
}
.modal-fullscreen-menu .list-group a:hover:before {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.modal-backdrop.in {
    opacity: 1;
}

/*
Banner
 */
section.banner {
    background: url("../images/bg-header.jpeg") no-repeat center center fixed;
    background-size: cover;
    position: relative;
    min-height: 500px;
}

section.banner .card {
    padding: 10px;
    background: #FFF;
    border-radius: 0;
    height: 250px;
}

section.banner .card-title {
    font-weight: 200;

}

section.banner .card-body {
    background: #f0f0f0;
}

section.banner .layer {
    background: -moz-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section.banner h1 {
    color: #FFF;
    font-weight: 400;
    font-size: 2.6rem;
}

section.banner p {
    color: #FFF;
    font-weight: 200;
    font-size: 0.9em;
}


/*
How it Works Section
 */

section.how-it-works {
    background: #fff;
}

section.how-it-works h1 {
    font-weight: bold;
    font-size: 2em;
}

section.how-it-works button {
    background-image: linear-gradient(to right, #B495C1 , #8AB5E1);
    color: #fff;
    border: none;
    padding: 5px 20px;
    font-size: 15px;
}

section.how-it-works .list-icon {
    width: 6em;
}

section.how-it-works .item-description {
    max-width: 70%;
}

/*
Blog Section
 */

section.blog {
    background: #f0f0f0;
    position: relative;
}

section.blog h1 {
    font-weight: bold;
    font-size: 2em;
}

section.blog button {
    background-image: linear-gradient(to right, #B495C1 , #8AB5E1);
    color: #fff;
    border: none;
    padding: 5px 20px;
    font-size: 15px;
}

section.blog .pic-images {
    position: absolute;
    top: 20px;
    right: 50px;
    width: 120px;
}

section.blog .img-front {
    transform: rotate(0deg);
    margin-top: -65%;
    margin-left: 0;
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

section.blog  .img-back {
    transform: rotate(0deg);
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

@media (min-width: 992px) {
    section.blog {
        background: #f0f0f0;
        position: relative;
        padding-bottom: 6rem !important;
        padding-top: 6rem !important;
    }
    section.blog .pic-images {
        position: absolute;
        top: -10px;
        right: 30%;
        width: 280px;
    }
}

/*
Expert Section
 */

section.expert {

}

section.expert h1 {
    font-weight: bold;
    font-size: 2em;
}


@media (min-width: 992px) {
    section.expert {
        padding-bottom: 6rem !important;
        padding-top: 6rem !important;
    }
}

/*
   Footer
 */
.section-footer {
    background: #f0f0f0;
}

h5.footer-title {
    font-weight: 600;
    font-size: medium;
}

p.footer-link {
    font-weight: 200;
    font-size: 0.7em;
    margin-bottom: 5px;
    color: #000;
}

p.footer-menu {
    font-weight: lighter;
    font-size: 0.7em;
}